{% extends 'index/index.html' %}
{% block header_index %}{% endblock  %}

{% block formulario_cursos %}
  <form action= "" method = 'GET'> 
        {% csrf_token %}
        <table>
          {{cursos_buscadoso.as_table}}
      </table>
       <input type = "submit" placeholder ='Enviar'> 
  </form>
  {% if dato %}
      {% for cursos in cursos_buscados %}
          <li>
            {{cursos}}
          </li>
      {% endfor %}
    {% else %}
        No se encotró nada...
  {% endif %}
{% endblock  %}